* {/* eliminando estilos por defecto dle navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
html {
    font-size: 62.5%;
}
body {
    background-color: rgb(220, 127, 21);
    color: #fff;
    padding-top:1%;
    padding-left:10%;
    padding-right:10%;
}
.header {
    position: relative;
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 0.6rem;
}
.titulo {
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.main_title {
    font-size: 4rem;
    font-weight: 1200;
}
.sub_title {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 12px;
}
.nodos {
    padding-top: 1rem;
    width: 100%;
}
canvas {
    border: 3px solid black;
    background-color: rgb(224, 164, 164);
    display: inline-block;
    width: 100%;
    height: 350px;
}
#id-mensajes{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: black;
    color: white;
    padding: 1rem;
}
.botones{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.boton{
    width: 33%;
    display: flex;
    justify-content: center;
}
button, input {
    display: inline-block;
    border: 2px solid black;
    padding: 1%;
    margin: 2%;
    width: 70%;
    color: black;
    background: orange;
    font-weight: 800;
}
input{
    background: rgb(239 0 0);
    width: 20%;
}

